
<table class="highlight" id="myTable">


  <tbody>
    {% for page in (posts|sort(attribute='date', reverse = True)) %}
    {% set path = page.path.split('/')[1] %}
    <tr>
      <td>
        <a href="{{ url_for("post", name=path) }}">
          <h6 style="display: inline-block;color:#9b4dca;">{{page.title}} </h6>
	  |
          <i>{{page.date.strftime('%b. %d, %Y')}}</i>
        </a>
	<br style="line-height: 50px;">
	{% if page.meta.tags|length %}
        {% for page_tag in page.meta.tags |sort() %}
	<span class="new badge  blue-grey" data-badge-caption="">
          <a href="{{ url_for("tag", tag=page_tag) }}">{{ page_tag }}</a>
	</span>
        {% endfor %}
	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="col-md-12 center text-center">
  <span class="left" id="total_reg"></span>
  <ul class="pagination pager" id="myPager"></ul>
</div>
