<footer class="page-footer" style="background-color: #fcfcfc;">
  <div class="footer-copyright {{c}}">
    <div class="container">
      
      <div class="left" style="color: white;">
	&copy;
	<span id="copyrightted">
          <script>document.getElementById('copyrightted').appendChild(document.createTextNode(new Date().getFullYear()))</script>
	</span>
	Khinshan Khan
      </div>
      
      <div class="social right">
	<a class="white-text text-lighten-3" href="https://github.com/kkhan01">
	  <i class="fab fa-github"></i>
	</a>
	<a class="white-text text-lighten-3" href="https://linkedin.com/in/khinshankhan">
	  <i class="fab fa-linkedin-in"></i>
	</a>
      </div>
      
    </div>
  </div>
</footer>
