html {
	margin: 20px;
	background-color: lightsteelblue;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: #333;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
	color: #90D1AC;
}
