* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#dropdown {
    top: auto !important;
}

body {
    font-family: Lato;
    background-color: #cfd8dc;
}

:focus {
    outline: none;
}

.hidden {
    display: none;
}

.container {
    width: 80%;
}

nav ul a,
nav .brand-logo {
    color: white; //#444;
}

nav {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

footer.page-footer {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

footer {
    background: linear-gradient(to top, #33ccff 0%, #ff99cc 100%);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media only screen and (max-width : 992px) {
    #index-banner .section {
        top: 10%;
    }

}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: white; //26a69a;
}

#logo {
    height: 56px;
    width: 56px;
}

@media only screen and (min-width: 601px) {
    #logo {
        height: 64px;
        width: 64px;
    }
}

.inline-icon {
    vertical-align: top;
    font-size: 20px !important;
}

.collection {
    overflow-y: auto;
    height: 30vh;
}

.social [class*="fab fa-"] {
    background-color: #eceff1; //#7e7b90;
    border-radius: 30px;
    color: #009688;//#fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}

.fab:hover{
    background-color: #333;
}

.dropdown-content li > a{
    color: black;
}
