* {
    font-family: Lato;
    /* -moz-user-select: none; */
    /* -khtml-user-select: none; */
    /* -webkit-user-select: none; */
    /* -ms-user-select: none; */
    /* user-select: none; */
}

.parallax-container {
    height: 600px;
}

#dropdown {
    top: auto !important;
}

.dropdown-content a:link, .dropdown-content a:visited, .dropdown-content a:hover{
    color: #9b4dca;
}

.upper {
    text-transform: uppercase;
}

main {
    flex: 1 0 auto;
}

body {
    background-image:  url('/static/img/works/debut_light.png');
    background-repeat: repeat;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    width: 80%;
}

.icon-block .material-icons {
    font-size: inherit;
}

.mylink a:link, .mylink a:visited{
    color: #FFF;
}

.mylink a:hover{
    color: #9b4dca;

    text-shadow:
	-1px -1px 0 #FFF,
	1px -1px 0 #FFF,
	-1px 1px 0 #FFF,
	1px 1px 0 #FFF;
}

.purplelink a:link, .purplelink a:visited, .purplelink a:hover {
    color: #9b4dca !important;
}

footer.page-footer {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

footer {
    background-repeat: repeat;
    background-color: #eceff1;
    background:  url('/static/img/works/tenor.jpg') center bottom;
    background-position: center bottom;
}

.social [class*="fab fa-"] {
    background-color: #eceff1; //#7e7b90;
    border-radius: 30px;
    color: #9b4dca; //#89a6c3;//#fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}

.fab:hover{
    background-color: #333;
}

.purpleoutline{
    text-shadow:
	-1px -1px 0 #9b4dca,
	1px -1px 0 #9b4dca,
	-1px 1px 0 #9b4dca,
	1px 1px 0 #9b4dca;
}

.normalthick {
    font-weight: 500;
    text-shadow: none;
}

.thick {
    font-weight: 900;
}
