@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);

html, body {
    height: 100%;
    margin: 0;
    font-family: Lato;
    color: white;
}

html {
    scroll-behavior: smooth;
}

#page1 {
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
#page2 {
    background: linear-gradient(to top, #33ccff 0%, #ff99cc 100%);
}

.wrapper {
    display: table;
    height: 100%; width: 100%;
}

.stage {
    display: table-cell;
    vertical-align: middle;
}

.tabled, .middled {
    text-align: center;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
}
h1 ~ span, p {
    color: #2d2d2d;
}
.thin {
    font-weight: 300;
}
.thick {
    font-weight: 900;
}

p {
    position: absolute;
    bottom: 0;
    text-align: right;
    right: 1em;
    font-size: 80%;
}


.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
	transform: translateY(0);
    }
    40% {
	transform: translateY(-30px);
    }
    60% {
	transform: translateY(-15px);
    }
}

a:link{
    color:#FFFFFF;
}

a:visited{
    color:#FFFFFF;
}

a:hover{
    color:#FFFFFF;
}
