@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);

* {
    box-sizing: border-box;
}

html, body {
    font-family: Lato;
}

body {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}

#page1 {
    background: url(http://sf.co.ua/2012/wallpaper-2053949.jpg);//linear-gradient(to bottom, #5c84ac 0%, #444444 60%, #5c84ac 100%);

}

h1, span, p {
    color: #FFFFFF;
    text-transform: uppercase;
}

.thin {
    font-weight: 300;
}
.thick {
    font-weight: 900;
}

a:link{
    color:#FFFFFF;
}

a:visited{
    color:#FFFFFF;
}

a:hover{
    color:#FFFFFF;
}

.social{
    display: flex;
    justify-content: space-around;
    //justify-content: space-between;
}
