
{% extends "base.html" %}

{% block c_title %}
Page Not Found
{% endblock %}

{% block style %}
<style>
  .parallax-container {
      height: 600px;
  }
</style>
{% endblock %}

{% block all %}


<div class="container">
  <div class="content">
    <h1 class="text-center">Page Not Found</h1>

    <h4>Enjoy an xkcd image</h4>
    <h6 id="thonk">Bypassing CORS and gaining XKCD access...</h6>

    <img src="" alt="404 error" class="responsive-img materialboxed" id="404img">

    <script>
      let totalNum = 1999; // for the sake that we somehow get a bad number
      images = [
	  'not_available',
	  'real_programmers',
	  'compiling',
	  'the_sea',
	  'exploits of a mom',
	  'pointers',
	  'tech_support_cheat_sheet',
	  'daniel knuth',
	  'floor_tiles'
      ];
      let nameXKCD = images[Math.floor(Math.random() * images.length)]; // choose a valid image from array already known to be PNGs
      let muh_link = `https://imgs.xkcd.com/comics/${nameXKCD}.png`; // set temp link

      let safety = function(){
	  if(isNaN(totalNum) || totalNum == 1999 || !nameXKCD.match(/[a-z]/i)){ // ensure successful operation
	      totalNum = 1999;
	      nameXKCD = images[Math.floor(Math.random() * images.length)]; // rechoose random?
	  }

	  nameXKCD = nameXKCD.toLowerCase().replace(/ /g,"_"); // make string lowercase and replace spaces with underscores
      }

      let randXKCDImage = async function(){
	  let getXKCDInfo = async function (url, item, semaphore) {
	      let xhr = new XMLHttpRequest();
	      xhr.onreadystatechange = function() {
		  if (this.readyState === 4 && this.status === 200) {
		      let response = JSON.parse(this.responseText);
		      if(semaphore == 0){
			  totalNum = response[item];
		      } else {
			  muh_link = response[item]
		      }

		      safety();
		      document.getElementById("404img").src=`${muh_link}` // set 404img to chosen XKCD comic
		      document.getElementById("thonk").remove() // get rid off message once async done
		      console.log(semaphore + ": " + response[item]);
		  }
	      }
	      xhr.open("GET", "https://cors-anywhere.herokuapp.com/" + url); // bypass CORS
	      xhr.setRequestHeader("Accept", 'application/json');
	      xhr.send();
	  }

	  getXKCDInfo("https://xkcd.com/info.0.json", "num", 0);
	  totalNum = Math.floor(Math.random() * totalNum);
	  safety();
	  getXKCDInfo("https://xkcd.com/" +  totalNum + "/info.0.json", "img", 1);
	  safety();
      }

      randXKCDImage(); // attempt to get randomized data for XKCD
      safety(); // ensures nameXKCD is valid
      document.getElementById("404img").src=`https://imgs.xkcd.com/comics/${nameXKCD}.png` // set 404img to chosen XKCD comic

      $(document).ready(function(){
	  $('.materialboxed').materialbox();
      });

    </script>
    <br>

    <p class="text-center"><a style="color:#9b4dca;" href="{{ url_for("index") }}">Click Here to Return to Safety</a></p>
  </div>
</div>


{% endblock %}
