{% extends "base.html" %}

{% block c_title %}
About
{% endblock %}

{% block style %}
<style>
  .parallax-container {
      height: 600px;
  }
</style>
{% endblock %}

{% block all %}


<div class="container">
  <div class="content">

    <h2>About myself</h2>
    <p>
      This is probably the hardest part of the entire site... probably harder than the
      anticpated dry periods of blogging too. I have no idea how many people this website
      will reach, but I'll try to describe myself in such a manner that no one would need to
      have met me to realize I'm somewhat of a cool cat.
    </p>

    <p>
      My name is Khinshan Khan, but feel free to call me Shan or any other nickname that
      makes sense (go ahead and throw new nicknames or scavenge for my other ones). I am a
      <span id="age">
        <script>document.getElementById('age').appendChild(document.createTextNode(new Date().getFullYear() + (new Date().getMonth() > 3) - 2000))</script>
      </span>
      year old boy. I currently live in New York City, New York, and I attend college in the
      city as well. I don't particularly specialize in any areas yet since I've always felt
      becoming a full stack developer is sort of the only path carved out of me (ironically
      so) due to my curiosity and passion to learn. However, I am willing to nerd out about
      a couple of topics... especially emacs.
    </p>

  </div>
</div>


{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
      $('.parallax').parallax();
  });
</script>
{% endblock %}
