{% extends "base.html" %}

{% block c_title %}
About
{% endblock %}

{% block style %}
<style>
  .parallax-container {
      height: 600px;
  }
</style>
{% endblock %}

{% block all %}


<div class="container">
  <div class="content">

    <h2>About myself</h2>
    <p>
      This is probably the hardest part of the entire site... probably harder than the
      anticpated dry periods of blogging too. I have no idea how many people this website
      will reach, but I'll try to describe myself in such a manner that no one would need to
      have met me to realize I'm somewhat of a cool cat.
    </p>

    <p>
      My name is Khinshan Khan, but feel free to call me Shan or any other nickname that
      makes sense (go ahead and throw new nicknames or scavenge for my other ones). I am a
      <span id="age">
        <script>document.getElementById('age').appendChild(document.createTextNode(new Date().getFullYear() + (new Date().getMonth() > 3) - 2000))</script>
      </span>
      year old boy. I currently live in New York City, New York, and I attend college in the
      city as well. I don't particularly specialize in any areas yet since I've always felt
      becoming a full stack developer is sort of the only path carved out of me (ironically
      so) due to my curiosity and passion to learn. However, I am willing to nerd out about
      a couple of topics... especially emacs.
    </p>

    <h2>About this site</h2>
    <p>
      This website is meant to firstly become a sort of online resume of sorts, by which I
      mean the idea of knowing me to the extent that you'll have a general idea of what to
      expect when you may meet me. Secondly, I want to share my thoughts and ideas: to share
      my expertise, garner a small community, and to share a fun life story.
    </p>

    <p>
      I'll do my best to keep the content SFW, but if anything, I'll implement a tag color
      system to indicate the severity of the post (of course, the tag's name will be present,
      to describe the content better but colors are easier to see right off the bat).
    </p>

    <p>
      The final point about this site is that this is also my most procrastinated project
      (not really... I have some more I have yet to start, but this is probably the longest
      project I've worked on and thus had more time doing nothing and researching than
      working on it). Hopefully you can learn something from here, or at least you'll be left
      entertained. If you want me to cover something specific or want to get in touch, I'll
      probably have a comments section you can use (unsure yet if I want to use
      <a style="color:#9b4dca;" href="https://disqus.com/">disqus</a>
      or
      <a style="color:#9b4dca;" href="https://github.com/utterance/utterances">utterances</a>
      ). Eventually, when the community is large enough, I'll make a discord server as well.
    </p>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
      $('.parallax').parallax();
  });
</script>
{% endblock %}
