<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}"/>
  </head>
  <body>
    <div class="wrapper tabled">
      <div class="stage" id="page1">
	<div class="middled">
	  <h1><span class="thin">Khinshan</span><span class="thick">Khan</span></h1>
	  <h1><span class="thick"> <a href="#page2"> <i class="material-icons bounce">arrow_drop_down</i></a></span></h1>
	</div>
      </div>
    </div>

    <div class="wrapper tabled">
      <div class="stage" id="page2">
	<div class="middled">
	  <h1><span class="thick"> <a href="#page1"> <i class="material-icons bounce">arrow_drop_up</i></a></span></h1>
	  <h1><span class="thin">Link</span><span class="thick">Me</span></h1>
	</div>
      </div>
    </div>

  </body>
</html>
