@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);

* {
    box-sizing: border-box;
}

html, body {
    font-family: Lato;
}

body {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}

#page1 {
    background: linear-gradient(to bottom, #5c84ac 0%, #444444 60%, #5c84ac 100%);

}

h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-240%);
    text-align: center;
    color: white;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
    text-transform: uppercase;
}

h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    text-align: center;
    color: white;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
    text-transform: uppercase;
}

h1 ~ span, p {
    color: #2d2d2d;
}

.thin {
    font-weight: 300;
}
.thick {
    font-weight: 900;
}

a:link{
    color:#FFFFFF;
}

a:visited{
    color:#FFFFFF;
}

a:hover{
    color:#FFFFFF;
}

.social{
    display: flex;
    justify-content: space-around;
    //justify-content: space-between;
}
